#Importação das bibliotecas

Instalação da biblioteca para conexão com o GCP

In [ ]:
pip install gcsfs

Instalação da biblioteca PySpark

In [ ]:
pip install pyspark

In [3]:
import pandas as pd
import gcsfs
from google.cloud import storage
import os

#Conector GCP

Configuração da chave de segurança

In [4]:
serviceAccount = "/content/drive/MyDrive/Key/projeto-individual-351512-fef4df83b47c.json"

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = serviceAccount

#Conector MongoDB

Instalação da biblioteca para conexão com o MongoDB

In [43]:
pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 4.9 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [44]:
from pymongo import MongoClient

class Conector_mongoDB():
    def __init__(self, database = "projeto_individual", collection = "original"):
        try:
            self.cliente = MongoClient("mongodb+srv://danferrari:12345@cluster0.qzuz9.mongodb.net/?retryWrites=true&w=majority")
            self.database =  self.cliente[database]
            self.collection =self.database[collection]
        except Exception as e:
            print(str(e))
        
    def set_database(self,database):
        '''Escolhe o database'''
        try:
            self.database = database
        except Exception as e:
            print(str(e))
        
    def set_collection(self, collection):
        '''Escolhe a coleção'''
        try:
            self.collection = collection  
        except Exception as e:
            print(str(e))
                
    def get_database(self):
        '''Retorna o database'''
        try:
            return self.database
        except Exception as e:
            print(str(e))
            
    def get_collection(self):
        '''Retorna a coleção'''
        try:    
            return self.collection
        except Exception as e:
            print(str(e))
        

    # Métodos da classe:
    def insert(self,dados):
        '''Insere dados em um banco mongoDB'''
        try:
            self.collection.insert_many(dados)
        except Exception as e:
            print(str(e))
        
    def find(self):
        '''Busca dados em um banco mongoDB'''
        try:
            lista_itens = []
            itens_db = self.collection.find()
            for i in itens_db:
                lista_itens.append(i)
            return lista_itens
        except Exception as e:
            print(str(e))
                
    def delete_one(self):
        '''Deleta um dado de um banco mongoDB'''
        try:
            coluna = input("Você deseja excluir por qual dado? ")
            
            valor = input("Qual o valor desse dado do item que você deseja excluir? ")
            
            filter = {coluna: valor}
                
            self.collection.delete_one(filter)
        except Exception as e:
            print(str(e))
                
    def delete_many(self):
        '''Deleta dados de um banco mongoDB'''
        try:
            coluna = input("Você deseja excluir por qual dado? ")
            
            valor = input("Qual o valor desse dado dos itens que você deseja excluir? ")
            
            filter = {coluna: valor}
                
            self.collection.delete_many(filter)
        except Exception as e:
            print(str(e))
                
    
    def update_one(self):
        '''Atualiza um dado de um banco mongoDB'''
        try:    
            coluna_escolhida = input("Digite a coluna que você deseja realizar uma alteração: ")
            old_value = input("Digite o valor antigo desse item nessa coluna: ")
            new_value= input("Digite o novo valor para esse item: ")
            
            
            filter = {coluna_escolhida: old_value}
            newvalues = {"$set": {coluna_escolhida: new_value}}
            
            self.collection.update_one(filter,newvalues)
        except Exception as e:
            print(str(e))

#Leitura do dataset (Pandas)

In [5]:
#Leitura do dataset para um Dataframe
df = pd.read_csv("gs://projeto_individual/Original/marketing_campaign.csv", sep = ";")

In [6]:
#Verificar se a leitura está correta
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

#Ingestão de dados no MongoDB

In [ ]:
#Instanciando uma conexão com o MongoDB
bancoMongo = Conector_mongoDB()

#Inserindo os dados
bancoMongo.insert(df.to_dict("records"))

#Pré-análise (Pandas)

In [7]:
#Configuração para mostrar até "30" colunas
pd.set_option("display.max_columns",30)

In [8]:
#Mostrar as 5 primeiras linhas do Dataframe
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0

In [ ]:
#Mostrar as informações gerais do Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [ ]:
#Mostrar quantos valores nulos tem em cada coluna
df.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
#Mostrar a quantidade de linhas duplicadas
df.duplicated().sum()

0

In [ ]:
#Mostras as colunas do Dataframe
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
#Mostrar os valores únicos das colunas para verificar inconsistências e dados que precisam de tratamento (foi realizado em todas as colunas)
df["Education"].unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
df["Marital_Status"].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
#Verificar os valores que tem a coluna "Z_Revenue"
df["Z_Revenue"].unique()

array([11])

In [ ]:
#Verificar os valores que tem a coluna "Z_CostContact"
df["Z_CostContact"].unique()

array([3])

***Tratamentos a serem realizados***

* 'Z_CostContact' e 'Z_Revenue' -> Dropar as colunas pois todos os valores são iguais, não tem necessidade para a analise\

\
* **Colunas para serem traduzidas:** \
'Year_Birth' -> "Ano_nascimento"\
'Education' -> "Educacao"\
'Marital_Status' -> "Estado_Civil"\
'Income' -> "Renda_Familiar"\
'Kidhome' -> "Criancas_casa"\
'Teenhome' -> "Adolescente_casa"\
'Dt_Customer' -> "Data_Cadastro"\
'Recency' -> "Recência"\
'MntWines' -> "Gasto_Vinho"\
'MntFruits' -> "Gasto_Frutas"\
'MntMeatProducts' -> "Gasto_Carne"\
'MntFishProducts' -> "Gasto_Peixe"\
'MntSweetProducts' -> "Gasto_Doces"\
'MntGoldProds' -> "Gasto_Ouro"\
'NumDealsPurchases' -> "Compras_Desconto"\
'NumWebPurchases' -> "Compras_Web"\
'NumCatalogPurchases' -> "Compras_Catalogo"\
'NumStorePurchases' -> "Compra_Loja"\
'NumWebVisitsMonth' -> "Visitas_Site_Mes"\
'AcceptedCmp3' -> "Aceite_Campanha3"\
'AcceptedCmp4' -> "Aceite_Campanha4"\
'AcceptedCmp5' -> "Aceite_Campanha5"\
'AcceptedCmp1' -> "Aceite_Campanha1"\
'AcceptedCmp2' -> "Aceite_Campanha2"\
'Complain' -> "Reclamacao"\
'Response' -> "Resposta"

\
* **Dados para serem traduzidos**\
Graduation -> Graduado\
PhD -> Pós-Graduado\
Master -> Pós-Graduado\
Basic -> Básico\
2n Cycle -> Pos graduado\
Single -> Solteiro\
Together -> Casado\
Married -> Casado\
Divorced -> Divorciado\
Widow -> Viuvo\
Alone -> Solteiro\
Absurd -> Não informado\
YOLO -> Não informado



Obs: 
* Foi verificado a existência de 24 valores nulos na coluna "Renda_Familiar", por ser considerado poucos valores não vai interferir na ánalise\
* "Recência" - Número de dias desde a última compra do cliente\
* "Data_Cadastro" - Data de inscrição na empresa\
* "Aceite_Campanha1" - 1 se o cliente aceitou a oferta na 1ª campanha, 0 caso contrário
* "Resposta": 1 se o cliente aceitou a oferta na última campanha, 0 caso contrário

In [ ]:
#Mostrar algumas estatisticas do Dataframe
round(df.describe(),2)

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.00,2240.00,2216.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.00,2240.0,2240.0,2240.00
mean,5592.16,1968.81,52247.25,0.44,0.51,49.11,303.94,26.30,166.95,37.53,27.06,44.02,2.33,4.08,2.66,5.79,5.32,0.07,0.07,0.07,0.06,0.01,0.01,3.0,11.0,0.15
std,3246.66,11.98,25173.08,0.54,0.54,28.96,336.60,39.77,225.72,54.63,41.28,52.17,1.93,2.78,2.92,3.25,2.43,0.26,0.26,0.26,0.25,0.11,0.10,0.0,0.0,0.36
min,0.00,1893.00,1730.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
25%,2828.25,1959.00,35303.00,0.00,0.00,24.00,23.75,1.00,16.00,3.00,1.00,9.00,1.00,2.00,0.00,3.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
50%,5458.50,1970.00,51381.50,0.00,0.00,49.00,173.50,8.00,67.00,12.00,8.00,24.00,2.00,4.00,2.00,5.00,6.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
75%,8427.75,1977.00,68522.00,1.00,1.00,74.00,504.25,33.00,232.00,50.00,33.00,56.00,3.00,6.00,4.00,8.00,7.00,0.00,0.00,0.00,0.00,0.00,0.00,3.0,11.0,0.00
max,11191.00,1996.00,666666.00,2.00,2.00,99.00,1493.00,199.00,1725.00,259.00,263.00,362.00,15.00,27.00,28.00,13.00,20.00,1.00,1.00,1.00,1.00,1.00,1.00,3.0,11.0,1.00

#Tratamento dos dados (Pandas)

In [ ]:
#Cópia para backup
df_backup = df.copy()

In [9]:
#Dropando as colunas "Z_CostContact" e "Z_Revenue"
df.drop(columns=["Z_CostContact","Z_Revenue"],inplace=True)

In [10]:
#Traduzindo/renomeando o nome das colunas 
df.rename(columns={"Year_Birth":"Ano_nascimento","Education":"Educacao","Marital_Status":"Estado_Civil",
                   "Income":"Renda_Familiar","Kidhome":"Criancas_casa","Teenhome":"Adolescente_casa",
                   "Dt_Customer":"Data_Cadastro","Recency":"Recência","MntWines":"Gasto_Vinho",
                   "MntFruits":"Gasto_Frutas","MntMeatProducts":"Gasto_Carne","MntFishProducts":"Gasto_Peixe",
                   "MntSweetProducts":"Gasto_Doces", "MntGoldProds":"Gasto_Ouro","NumDealsPurchases":"Compras_Desconto",
                   "NumWebPurchases":"Compras_Web", "NumCatalogPurchases":"Compras_Catalogo",
                   "NumStorePurchases":"Compras_Loja","NumWebVisitsMonth":"Visitas_Site_Mes", 
                   "AcceptedCmp3":"Aceite_Campanha3","AcceptedCmp4":"Aceite_Campanha4","AcceptedCmp5":"Aceite_Campanha5",
                   "AcceptedCmp1":"Aceite_Campanha1", "AcceptedCmp2":"Aceite_Campanha2",
                   "Complain":"Reclamacao","Response":"Resposta"},inplace=True)

In [11]:
#Traduzindo alguns dados
df.replace(to_replace={"Graduation":"Graduado","PhD":"Pós-Graduado","Master":"Pós-Graduado","Basic":"Básico",
                       "2n Cycle":"Pós-Graduado","Single":"Solteiro",
                       "Together":"Casado","Married":"Casado","Divorced":"Divorciado",
                       "Widow":"Viuvo","Alone":"Solteiro", "Absurd":"Não informado","YOLO":"Não informado"},inplace=True)

In [12]:
#Verificando se o nome das colunas foram alterados
df.columns

Index(['ID', 'Ano_nascimento', 'Educacao', 'Estado_Civil', 'Renda_Familiar',
       'Criancas_casa', 'Adolescente_casa', 'Data_Cadastro', 'Recência',
       'Gasto_Vinho', 'Gasto_Frutas', 'Gasto_Carne', 'Gasto_Peixe',
       'Gasto_Doces', 'Gasto_Ouro', 'Compras_Desconto', 'Compras_Web',
       'Compras_Catalogo', 'Compras_Loja', 'Visitas_Site_Mes',
       'Aceite_Campanha3', 'Aceite_Campanha4', 'Aceite_Campanha5',
       'Aceite_Campanha1', 'Aceite_Campanha2', 'Reclamacao', 'Resposta'],
      dtype='object')

In [13]:
#Verificando os dados que foram alterados
df["Estado_Civil"].unique()

array(['Solteiro', 'Casado', 'Divorciado', 'Viuvo', 'Não informado'],
      dtype=object)

In [14]:
#Filtro com os valores nulos
valores_nulos=df.isnull()

In [15]:
#Verificando as linhas que contem valores nulos
df.loc[valores_nulos["Renda_Familiar"]]

,ID,Ano_nascimento,Educacao,Estado_Civil,Renda_Familiar,Criancas_casa,Adolescente_casa,Data_Cadastro,Recência,Gasto_Vinho,Gasto_Frutas,Gasto_Carne,Gasto_Peixe,Gasto_Doces,Gasto_Ouro,Compras_Desconto,Compras_Web,Compras_Catalogo,Compras_Loja,Visitas_Site_Mes,Aceite_Campanha3,Aceite_Campanha4,Aceite_Campanha5,Aceite_Campanha1,Aceite_Campanha2,Reclamacao,Resposta
10,1994,1983,Graduado,Casado,NaN,1,0,2013-11-15,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,0
27,5255,1986,Graduado,Solteiro,NaN,1,0,2013-02-20,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,0
43,7281,1959,Pós-Graduado,Solteiro,NaN,0,0,2013-11-05,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,0
48,7244,1951,Graduado,Solteiro,NaN,2,1,2014-01-01,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,0
58,8557,1982,Graduado,Solteiro,NaN,1,0,2013-06-17,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,0
71,10629,1973,Pós-Graduado,Casado,NaN,1,0,2012-09-14,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,0
90,8996,1957,Pós-Graduado,Casado,NaN,2,1,2012-11-19,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,0
91,9235,1957,Graduado,Solteiro,NaN,1,1,2014-05-27,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,0
92,5798,1973,Pós-Graduado,Casado,NaN,0,0,2013-11-23,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,0
128,8268,1961,Pós-Graduado,Casado,NaN,0,1,2013-07-11,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,0
133,1295,1963,Graduado,Casado,NaN,0,1,2013-08-11,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,0
312,2437,1989,Graduado,Casado,NaN,0,0,2013-06-03,69,861,138,461,60,30,61,1,6,5,12,3,0,1,0,1,0,0,0
319,2863,1970,Graduado,Solteiro,NaN,1,2,2013-08-23,67,738,20,172,52,50,20,6,2,3,10,7,0,1,0,1,0,0,0
1379,10475,1970,Pós-Graduado,Casado,NaN,0,1,2013-04-01,39,187,5,65,26,20,14,2,4,2,6,5,0,0,0,0,0,0,0
1382,2902,1958,Graduado,Casado,NaN,1,1,2012-09-03,87,19,4,12,2,2,6,1,1,0,3,5,0,0,0,0,0,0,0
1383,4345,1964,Pós-Graduado,Solteiro,NaN,1,1,2014-01-12,49,5,1,9,2,0,4,1,1,0,2,7,0,0,0,0,0,0,0
1386,3769,1972,Pós-Graduado,Casado,NaN,1,0,2014-03-02,17,25,1,13,0,0,3,1,1,0,3,7,0,0,0,0,0,0,0
2059,7187,1969,Pós-Graduado,Casado,NaN,1,1,2013-05-18,52,375,42,48,94,66,96,7,4,10,4,3,0,0,0,0,0,0,0
2061,1612,1981,Pós-Graduado,Solteiro,NaN,1,0,2013-05-31,82,23,0,15,0,2,7,2,3,0,3,6,0,0,0,0,0,0,0
2078,5079,1971,Graduado,Casado,NaN,1,1,2013-03-03,82,71,1,16,0,0,9,4,2,1,3,8,0,0,0,0,0,0,0
2079,10339,1954,Pós-Graduado,Casado,NaN,0,1,2013-06-23,83,161,0,22,0,0,24,2,4,1,4,6,0,0,0,0,0,0,0
2081,3117,1955,Graduado,Solteiro,NaN,0,1,2013-10-18,95,264,0,21,12,6,147,3,6,1,5,7,0,0,0,0,0,0,0
2084,5250,1943,Pós-Graduado,Viuvo,NaN,0,0,2013-10-30,75,532,126,490,164,126,126,1,5,5,11,1,0,0,1,0,0,0,1
2228,8720,1978,Pós-Graduado,Casado,NaN,0,0,2012-08-12,53,32,2,1607,12,4,22,0,0,0,1,0,0,1,0,0,0,0,0

In [16]:
#Salvar um backup no bucket 
df.to_csv("gs://projeto_individual/Tratado/campanha_marketing_1.csv",index=False)

#Importação das bibliotecas PySpark

In [19]:
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.window import Window
import pyspark.sql.functions as F

#Conexão com o Spark

In [20]:
#Faz a conexão com a sparksession (conexão entre pyspark e spark), já informando a API que faz conexão com o GCP
spark = (
    SparkSession.builder
                .master ('local')
                .appName('spark-gcs')
                .config('spark.ui.port','4050')
                .config('spark.jars','https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

#Leitura dos dados (PySpark)

In [21]:
#Criação do esquema
schema = (StructType([
                      StructField("ID",IntegerType(),nullable = False),
                      StructField("Ano_nascimento",IntegerType(),False),
                      StructField("Educacao",StringType(),False),
                      StructField("Estado_Civil",StringType(),False),
                      StructField("Renda_Familiar",FloatType(),True),
                      StructField("Criancas_casa",IntegerType(),False),
                      StructField("Adolescente_casa",IntegerType(),False),
                      StructField("Data_Cadastro",DateType(),False),
                      StructField("Recência",IntegerType(),False),
                      StructField("Gasto_Vinho",IntegerType(),False),
                      StructField("Gasto_Frutas",IntegerType(),False),
                      StructField("Gasto_Carne",IntegerType(),False),
                      StructField("Gasto_Peixe",IntegerType(),False),
                      StructField("Gasto_Doces",IntegerType(),False),
                      StructField("Gasto_Ouro",IntegerType(),False),
                      StructField("Compras_Desconto",IntegerType(),False),
                      StructField("Compras_Web",IntegerType(),False),
                      StructField("Compras_Catalogo",IntegerType(),False),
                      StructField("Compras_Loja",IntegerType(),False),
                      StructField("Visitas_Site_Mes",IntegerType(),False),
                      StructField("Aceite_Campanha3",IntegerType(),False),
                      StructField("Aceite_Campanha4",IntegerType(),False),
                      StructField("Aceite_Campanha5",IntegerType(),False),
                      StructField("Aceite_Campanha1",IntegerType(),False),
                      StructField("Aceite_Campanha2",IntegerType(),False),
                      StructField("Reclamacao",IntegerType(),False),
                      StructField("Resposta",IntegerType(),False),

])
)

In [22]:
#Leitura dos dados diretamente do bucket GCP para um Dataframe
dfSpark = (spark.read.format("csv")
                .option("header", True)
                .option("delimiter", ",")
                .load("gs://projeto_individual/Tratado/campanha_marketing_1.csv", schema=schema)
)

#Pré-análise/Tratamento (PySpark)

In [23]:
#Mostrar o esquema do Dataframe
dfSpark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Ano_nascimento: integer (nullable = true)
 |-- Educacao: string (nullable = true)
 |-- Estado_Civil: string (nullable = true)
 |-- Renda_Familiar: float (nullable = true)
 |-- Criancas_casa: integer (nullable = true)
 |-- Adolescente_casa: integer (nullable = true)
 |-- Data_Cadastro: date (nullable = true)
 |-- Recência: integer (nullable = true)
 |-- Gasto_Vinho: integer (nullable = true)
 |-- Gasto_Frutas: integer (nullable = true)
 |-- Gasto_Carne: integer (nullable = true)
 |-- Gasto_Peixe: integer (nullable = true)
 |-- Gasto_Doces: integer (nullable = true)
 |-- Gasto_Ouro: integer (nullable = true)
 |-- Compras_Desconto: integer (nullable = true)
 |-- Compras_Web: integer (nullable = true)
 |-- Compras_Catalogo: integer (nullable = true)
 |-- Compras_Loja: integer (nullable = true)
 |-- Visitas_Site_Mes: integer (nullable = true)
 |-- Aceite_Campanha3: integer (nullable = true)
 |-- Aceite_Campanha4: integer (nullable = true)
 |-- Aceite_Campanha5: integer (nullable = true)
 |-- Aceite_Campanha1: integer (nullable = true)
 |-- Aceite_Campanha2: integer (nullable = true)
 |-- Reclamacao: integer (nullable = true)
 |-- Resposta: integer (nullable = true)

In [ ]:
#Mostrar as 5 primeiras linhas do Dataframe
dfSpark.show(5)

+----+--------------+------------+------------+--------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+
|  ID|Ano_nascimento|    Educacao|Estado_Civil|Renda_Familiar|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|
+----+--------------+------------+------------+--------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+
|5524|          1957|    Graduado|    Solteiro|       58138.0|            0|               0|   2012-09-04|      58|        635|          88|        546|        172|         88|        88|               3|          8|              10|           4|               7|               0|               0|               0|               0|               0|         0|       1|
|2174|          1954|    Graduado|    Solteiro|       46344.0|            1|               1|   2014-03-08|      38|         11|           1|          6|          2|          1|         6|               2|          1|               1|           2|               5|               0|               0|               0|               0|               0|         0|       0|
|4141|          1965|    Graduado|      Casado|       71613.0|            0|               0|   2013-08-21|      26|        426|          49|        127|        111|         21|        42|               1|          8|               2|          10|               4|               0|               0|               0|               0|               0|         0|       0|
|6182|          1984|    Graduado|      Casado|       26646.0|            1|               0|   2014-02-10|      26|         11|           4|         20|         10|          3|         5|               2|          2|               0|           4|               6|               0|               0|               0|               0|               0|         0|       0|
|5324|          1981|Pós-Graduado|      Casado|       58293.0|            1|               0|   2014-01-19|      94|        173|          43|        118|         46|         27|        15|               5|          5|               3|           6|               5|               0|               0|               0|               0|               0|         0|       0|
+----+--------------+------------+------------+--------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+
only showing top 5 rows

In [ ]:
#Mostrar algumas estatisticas do Dataframe
dfSpark.describe().show()

+-------+------------------+------------------+------------+------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|summary|                ID|    Ano_nascimento|    Educacao|Estado_Civil|    Renda_Familiar|      Criancas_casa|  Adolescente_casa|         Recência|       Gasto_Vinho|      Gasto_Frutas|      Gasto_Carne|       Gasto_Peixe|      Gasto_Doces|      Gasto_Ouro|Compras_Desconto|       Compras_Web|  Compras_Catalogo|     Compras_Loja| Visitas_Site_Mes|   Aceite_Campanha3|   Aceite_Campanha4|   Aceite_Campanha5|   Aceite_Campanha1|    Aceite_Campanha2|         Reclamacao|           Resposta|
+-------+------------------+------------------+------------+------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+
|  count|              2240|              2240|        2240|        2240|              2216|               2240|              2240|             2240|              2240|              2240|             2240|              2240|             2240|            2240|            2240|              2240|              2240|             2240|             2240|               2240|               2240|               2240|               2240|                2240|               2240|               2240|
|   mean| 5592.159821428571|1968.8058035714287|        null|        null| 52247.25135379061|0.44419642857142855|           0.50625|        49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|           2.325| 4.084821428571429|2.6620535714285714|5.790178571428571|5.316517857142857|0.07276785714285715|0.07455357142857143|0.07276785714285715|0.06428571428571428|0.013392857142857142|           0.009375|0.14910714285714285|
| stddev|3246.6621975643416|11.984069456885827|        null|        null|25173.076660901414| 0.5383980977345935|0.5445382307698761|28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973|1.93223750085598|2.7787141473881007|2.9231006555397463|3.250958145674428| 2.42664500954729| 0.2598130699218951|0.26272828485356176| 0.2598130699218953|0.24531597433401406| 0.11497560625548417|0.09639116794449748|0.35627358640847934|
|    min|                 0|              1893|      Básico|      Casado|            1730.0|                  0|                 0|                0|                 0|                 0|                0|                 0|                0|               0|               0|                 0|                 0|                0|                0|                  0|                  0|                  0|                  0|                   0|                  0|                  0|
|    max|             11191|              1996|Pós-Graduado|       Viuvo|          666666.0|                  2|                 2|               99|              1493|               199|             1725|               259|              263|             362|              15|                27|                28|               13|               20|                  1|                  1|                  1|                  1|                   1|                  1|                  1|
+-------+------------------+------------------+------------+------------+------------------+-------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+----------------+------------------+------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------------+

In [25]:
#Renomeando coluna ID, Educacao e Renda_Familiar
dfSpark = (dfSpark.withColumnRenamed("ID","ID_Cliente").withColumnRenamed("Educacao","Nivel_Educacao")
          .withColumnRenamed("Renda_Familiar","Renda_Familiar_Anual"))

In [26]:
#Criando uma coluna com o total de compras
dfSpark = dfSpark.withColumn("Total_Compras",(dfSpark["Compras_Web"] + dfSpark["Compras_Catalogo"] 
                                              + dfSpark["Compras_Loja"]))

In [27]:
#Criando uma coluna com o tempo de cadastro em dias
import datetime
dfSpark = dfSpark.withColumn("Tempo_Cadastro",(F.datediff(F.lit(datetime.date.today()),
                                                          dfSpark["Data_Cadastro"])))

In [28]:
#Verificando as colunas criadas e seus dados
dfSpark.show(2)

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|      5524|          1957|      Graduado|    Solteiro|             58138.0|            0|               0|   2012-09-04|      58|        635|          88|        546|        172|         88|        88|               3|          8|              10|           4|               7|               0|               0|               0|               0|               0|         0|       1|           22|          3556|
|      2174|          1954|      Graduado|    Solteiro|             46344.0|            1|               1|   2014-03-08|      38|         11|           1|          6|          2|          1|         6|               2|          1|               1|           2|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3006|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
only showing top 2 rows

#Filtros (PySpark)

In [29]:
#Filtro mostrando quem fez compras na primeira campanha e ordenando pelo total de compras
campanha1 = dfSpark["Aceite_Campanha1"] == 1
dfSpark.filter(campanha1).orderBy("Total_Compras").show()

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|      8143|          1985|  Pós-Graduado|    Solteiro|             37929.0|            0|               0|   2013-07-30|      49|        202|           2|         46|          3|          2|        10|               2|          4|               2|           5|               7|               0|               1|               0|               1|               0|         0|       1|           11|          3227|
|     10513|          1992|      Graduado|      Casado|             63207.0|            0|               0|   2013-01-20|      68|        438|         169|        565|         91|        169|        70|               1|          2|               3|           6|               7|               0|               0|               0|               1|               0|         0|       0|           11|          3418|
|     10430|          1973|      Graduado|  Divorciado|             89694.0|            1|               1|   2013-10-09|      22|       1126|          28|        211|         37|         28|        42|               3|          4|               3|           4|               5|               0|               1|               1|               1|               0|         0|       0|           11|          3156|
|      7962|          1987|  Pós-Graduado|    Solteiro|             95169.0|            0|               0|   2013-10-09|       1|       1285|          21|        449|        106|         20|        20|               1|          4|               3|           4|               1|               0|               0|               1|               1|               0|         0|       1|           11|          3156|
|      1992|          1964|      Graduado|      Casado|             60597.0|            0|               1|   2014-01-01|       2|        522|           0|        257|         32|         16|        66|               4|          2|               2|           8|               7|               0|               0|               0|               1|               0|         0|       1|           12|          3072|
|      9606|          1965|  Pós-Graduado|      Casado|             69969.0|            0|               0|   2013-08-27|      64|        882|          29|        514|         38|         29|        44|               1|          4|               2|           6|               3|               0|               0|               1|               1|               0|         0|       1|           12|          3199|
|      4452|          1957|      Graduado|    Solteiro|             50388.0|            0|               1|   2014-05-28|       3|        292|           6|         37|          0|          3|        34|               4|          6|               1|           6|               7|               0|               1|               0|               1|               0|         0|       1|           13|          2925|
|      8093|          1969|  Pós-Graduado|      Casado|             79734.0|            0|               0|   2014-06-28|      72|        572|           8|        232|         23|         62|        17|               1|          4|               3|           6|               1|               0|               0|               0|               1|               0|         0|       0|           13|          2894|
|      8439|          1964|      Graduado|      Casado|             63404.0|            0|               2|   2014-06-06|      97|        734|          26|         70|         11|         44|        17|               2|          6|               3|           4|               4|               0|               0|               0|               1|               0|         0|       0|           13|          2916|
|      4998|          1962|      Graduado|      Casado|             76081.0|            0|               0|   2014-05-23|      85|        292|          30|        415|         63|         33|       200|               1|          4|               5|           4|               2|               0|               0|               0|               1|               0|         0|       0|           13|          2930|
|       737|          1949|  Pós-Graduado|      Casado|             80360.0|            0|               0|   2013-03-03|      56|       1493|          86|        454|        112|         43|        43|               2|          4|               4|           5|               2|               0|               1|               1|               1|               0|         0|       0|           13|          3376|
|      2415|          1962|      Graduado|      Casado|             62568.0|            0|               1|   2014-04-07|      99|        362|          17|        398|         80|         35|        61|               3|          5|               3|           5|               4|               0|               0|               0|               1|               0|         0|       0|           13|          2976|
|      7321|          1962|      Graduado|      Casado|             76081.0|            0|               0|   2014-05-23|      85|        292|          30|        415|         63|         33|       200|               1|          4|               5|           4|               2|               0|               0|               0|               1|               0|         0|       0|           13|          2930|
|     10556|          1959|      Graduado|      Casado|             54984.0|            0|               1|   2014-05-24|      51|        173|          13|        131|         32|          3|         6|               4|          6|               1|           6|               7|               0|               0|               0|               1|               0|         0|       0|           13|          2929|
|      2176|          1972|      Graduado|      Casado|             80134.0|            1|               0|   2013-05-20|      40|       1218|          16|        272|        104|          0|        80|               2|          5|               3|           6|               6|               0|               1|               1|               1|               0|         0|       1|           14|          3298|
|      9121|          1972|      Graduado|      Casado|             80134.0|            1|               0|   2013-05-20|      40|       1218|          16|        272|        104|          0|        80|               2|          5|               3|           6|               6|               0|               1|               1|               1|               0|         0|       1|           14|          3298|
|      8029|          1988|  Pós-Graduado|    Solteiro|             90247.0|            0|               0|   2014-04-29|      27|       1184|          32|        352|         21|         16|        16|               1|          3|               4|           7|               1|               0|               1|               1|               1|               0|         0|       1|           14|          2954|
|       830|          1987|  Pós-Graduado|    Solteiro|             74004.0|            0|               0|   2014-02-24|       5|        784|          48|        560|         42|        176|        48|               1|          4|               6|           4|               3|               0|               0|               1|               1|               0|         0|       1|           14|          3018|
|      3520|          1990|  Pós-Graduado|    Solteiro|             91172.0|            0|               0|   2013-03-27|      94|        162|          28|        818|          0|         28|        56|               0|          4|               3|           7|               3|               1|               0|               1|               1|               1|         0|       1|           14|          3352|
|      7233|          1972|      Graduado|      Casado|             69209.0|            0|               0|   2012-09-17|       4|        496|          32|        849|        229|         48|       128|               2|          5|               3|           6|               4|               0|               0|               0|               1|               0|         0|       0|           14|          3543|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
only showing top 20 rows

In [30]:
#Filtros crianças ou adolescentes em casa
criancas_casa = dfSpark["Criancas_casa"] > 0
adolescente_casa = dfSpark["Adolescente_casa"] > 0
dfSpark.filter(criancas_casa|adolescente_casa).show()

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
|      2174|          1954|      Graduado|    Solteiro|             46344.0|            1|               1|   2014-03-08|      38|         11|           1|          6|          2|          1|         6|               2|          1|               1|           2|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3006|
|      6182|          1984|      Graduado|      Casado|             26646.0|            1|               0|   2014-02-10|      26|         11|           4|         20|         10|          3|         5|               2|          2|               0|           4|               6|               0|               0|               0|               0|               0|         0|       0|            6|          3032|
|      5324|          1981|  Pós-Graduado|      Casado|             58293.0|            1|               0|   2014-01-19|      94|        173|          43|        118|         46|         27|        15|               5|          5|               3|           6|               5|               0|               0|               0|               0|               0|         0|       0|           14|          3054|
|      7446|          1967|  Pós-Graduado|      Casado|             62513.0|            0|               1|   2013-09-09|      16|        520|          42|         98|          0|         42|        14|               2|          6|               4|          10|               6|               0|               0|               0|               0|               0|         0|       0|           20|          3186|
|       965|          1971|      Graduado|  Divorciado|             55635.0|            0|               1|   2012-11-13|      34|        235|          65|        164|         50|         49|        27|               4|          7|               3|           7|               6|               0|               0|               0|               0|               0|         0|       0|           17|          3486|
|      6177|          1985|  Pós-Graduado|      Casado|             33454.0|            1|               0|   2013-05-08|      32|         76|          10|         56|          3|          1|        23|               2|          4|               0|           4|               8|               0|               0|               0|               0|               0|         0|       0|            8|          3310|
|      4855|          1974|  Pós-Graduado|      Casado|             30351.0|            1|               0|   2013-06-06|      19|         14|           0|         24|          3|          3|         2|               1|          3|               0|           2|               9|               0|               0|               0|               0|               0|         0|       1|            5|          3281|
|      5899|          1950|  Pós-Graduado|      Casado|              5648.0|            1|               1|   2014-03-13|      68|         28|           0|          6|          1|          1|        13|               1|          1|               0|           0|              20|               1|               0|               0|               0|               0|         0|       0|            1|          3001|
|      1994|          1983|      Graduado|      Casado|                null|            1|               0|   2013-11-15|      11|          5|           5|          6|          0|          2|         1|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3119|
|      8180|          1952|  Pós-Graduado|  Divorciado|             59354.0|            1|               1|   2013-11-15|      53|        233|           2|         53|          3|          5|        14|               3|          6|               1|           5|               6|               0|               0|               0|               0|               0|         0|       0|           12|          3119|
|      9736|          1980|      Graduado|      Casado|             41850.0|            1|               1|   2012-12-24|      51|         53|           5|         19|          2|         13|         4|               3|          3|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            6|          3445|
|      6565|          1949|  Pós-Graduado|      Casado|             76995.0|            0|               1|   2013-03-28|      91|       1012|          80|        498|          0|         16|       176|               2|         11|               4|           9|               5|               0|               0|               0|               1|               0|         0|       0|           24|          3351|
|      2278|          1985|  Pós-Graduado|    Solteiro|             33812.0|            1|               0|   2012-11-03|      86|          4|          17|         19|         30|         24|        39|               2|          2|               1|           3|               6|               0|               0|               0|               0|               0|         0|       0|            6|          3496|
|      5376|          1979|      Graduado|      Casado|              2447.0|            1|               0|   2013-01-06|      42|          1|           1|       1725|          1|          1|         1|              15|          0|              28|           0|               1|               0|               0|               0|               0|               0|         0|       0|           28|          3432|
|      1993|          1949|  Pós-Graduado|      Casado|             58607.0|            0|               1|   2012-12-23|      63|        867|           0|         86|          0|          0|        19|               3|          2|               3|           9|               8|               0|               1|               0|               0|               0|         0|       0|           14|          3446|
|      4047|          1954|  Pós-Graduado|      Casado|             65324.0|            0|               1|   2014-01-11|       0|        384|           0|        102|         21|         32|         5|               3|          6|               2|           9|               4|               0|               0|               0|               0|               0|         0|       0|           17|          3062|
|      1409|          1951|      Graduado|      Casado|             40689.0|            0|               1|   2013-03-18|      69|        270|           3|         27|         39|          6|        99|               7|          7|               1|           5|               8|               0|               0|               0|               0|               0|         0|       0|           13|          3361|
|      2404|          1976|      Graduado|      Casado|             53359.0|            1|               1|   2013-05-27|       4|        173|           4|         30|          3|          6|        41|               4|          5|               1|           4|               7|               0|               0|               0|               0|               0|         0|       0|           10|          3291|
|      5255|          1986|      Graduado|    Solteiro|                null|            1|               0|   2013-02-20|      19|          5|           1|          3|          3|        263|       362|               0|         27|               0|           0|               1|               0|               0|               0|               0|               0|         0|       0|           27|          3387|
|      9422|          1989|      Graduado|      Casado|             38360.0|            1|               0|   2013-05-31|      26|         36|           2|         42|         20|         21|        10|               2|          2|               1|           4|               3|               0|               0|               0|               0|               0|         0|       0|            7|          3287|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+
only showing top 20 rows

In [31]:
#Agrupar por "Estado_Civil" e contar
dfSpark.groupBy("Estado_Civil").count().show()

+-------------+-----+
| Estado_Civil|count|
+-------------+-----+
|Não informado|    4|
|   Divorciado|  232|
|     Solteiro|  483|
|       Casado| 1444|
|        Viuvo|   77|
+-------------+-----+

#Window Functions (PySpark)

In [32]:
#Criando uma window
w0 = Window.partitionBy(dfSpark["Nivel_Educacao"]).orderBy("Total_Compras")

In [33]:
#Window Function - Rank
dfSpark.withColumn("Rank",F.rank().over(w0)).show()

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|Rank|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----+
|      8234|          1973|        Básico|      Casado|             27190.0|            1|               0|   2013-08-15|      13|          1|           6|          7|          0|          1|         3|               1|          1|               0|           2|               8|               1|               0|               0|               0|               0|         0|       1|            3|          3211|   1|
|      6516|          1989|        Básico|      Casado|             17487.0|            1|               0|   2013-03-18|      37|          0|           0|          1|          7|          4|         6|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3361|   1|
|      9960|          1991|        Básico|    Solteiro|             26868.0|            1|               0|   2014-04-30|      52|          0|           0|          1|          8|          3|         2|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          2953|   1|
|      8977|          1985|        Básico|    Solteiro|             16581.0|            0|               0|   2013-01-12|      51|          1|           3|          4|          2|          3|        11|               1|          0|               0|           3|               4|               0|               0|               0|               0|               0|         0|       0|            3|          3426|   1|
|       193|          1996|        Básico|      Casado|             14421.0|            0|               0|   2014-02-17|      81|          0|           0|          2|          3|          3|         8|               1|          1|               0|           2|               5|               1|               0|               0|               0|               0|         0|       0|            3|          3025|   1|
|      5181|          1982|        Básico|    Solteiro|             24367.0|            1|               0|   2013-03-20|      58|          2|           4|          2|          0|         11|         5|               1|          1|               0|           2|               9|               0|               0|               0|               0|               0|         0|       0|            3|          3359|   1|
|     10250|          1947|        Básico|      Casado|             28389.0|            0|               0|   2012-11-20|      49|          1|           5|          3|          7|          4|         8|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3479|   1|
|      2686|          1969|        Básico|      Casado|             22390.0|            0|               0|   2013-10-21|      49|          0|           1|          4|         15|          1|         5|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3144|   1|
|      8373|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|   9|
|      5342|          1976|        Básico|  Divorciado|              9548.0|            1|               0|   2012-08-08|      31|          0|           1|          3|         10|          6|         9|               2|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3583|   9|
|      9733|          1978|        Básico|      Casado|             24882.0|            1|               0|   2012-09-09|      52|          1|           4|         10|         29|          0|        36|               1|          1|               1|           2|               6|               1|               0|               0|               0|               0|         0|       0|            4|          3551|   9|
|      2457|          1975|        Básico|      Casado|             30801.0|            0|               1|   2012-10-26|      23|          8|           4|          5|         15|          2|        11|               2|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3504|   9|
|      6682|          1973|        Básico|      Casado|             18978.0|            1|               0|   2012-12-11|      41|          2|           8|          1|          4|          7|        15|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3458|   9|
|      9316|          1952|        Básico|      Casado|             13084.0|            0|               0|   2013-11-02|      29|          2|           0|          7|          3|          7|        10|               1|          1|               0|           3|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3132|   9|
|      5692|          1989|        Básico|      Casado|             25443.0|            1|               0|   2012-12-22|      82|          1|           4|          3|          8|          9|         7|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3447|   9|
|     11086|          1984|        Básico|    Solteiro|             25707.0|            1|               0|   2014-01-18|      18|          1|           6|          2|          3|          6|         3|               1|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3055|   9|
|     10069|          1988|        Básico|      Casado|             13724.0|            1|               0|   2012-08-31|      43|          2|           7|          5|          2|         15|        27|               1|          2|               0|           2|               9|               1|               0|               0|               0|               0|         0|       0|            4|          3560|   9|
|      3829|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|   9|
|      6347|          1979|        Básico|    Solteiro|             15862.0|            1|               0|   2013-06-27|      26|          1|           1|          4|         11|          9|        10|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3260|   9|
|      1744|          1965|        Básico|    Solteiro|             23529.0|            0|               1|   2013-01-07|      67|          9|           7|         13|          3|          2|        20|               1|          1|               1|           2|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3431|   9|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----+
only showing top 20 rows

In [34]:
#Window Function - Dense Rank
dfSpark.withColumn("Dense_Rank",F.dense_rank().over(w0)).show()

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|Dense_Rank|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----------+
|      8234|          1973|        Básico|      Casado|             27190.0|            1|               0|   2013-08-15|      13|          1|           6|          7|          0|          1|         3|               1|          1|               0|           2|               8|               1|               0|               0|               0|               0|         0|       1|            3|          3211|         1|
|      6516|          1989|        Básico|      Casado|             17487.0|            1|               0|   2013-03-18|      37|          0|           0|          1|          7|          4|         6|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3361|         1|
|      9960|          1991|        Básico|    Solteiro|             26868.0|            1|               0|   2014-04-30|      52|          0|           0|          1|          8|          3|         2|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          2953|         1|
|      8977|          1985|        Básico|    Solteiro|             16581.0|            0|               0|   2013-01-12|      51|          1|           3|          4|          2|          3|        11|               1|          0|               0|           3|               4|               0|               0|               0|               0|               0|         0|       0|            3|          3426|         1|
|       193|          1996|        Básico|      Casado|             14421.0|            0|               0|   2014-02-17|      81|          0|           0|          2|          3|          3|         8|               1|          1|               0|           2|               5|               1|               0|               0|               0|               0|         0|       0|            3|          3025|         1|
|      5181|          1982|        Básico|    Solteiro|             24367.0|            1|               0|   2013-03-20|      58|          2|           4|          2|          0|         11|         5|               1|          1|               0|           2|               9|               0|               0|               0|               0|               0|         0|       0|            3|          3359|         1|
|     10250|          1947|        Básico|      Casado|             28389.0|            0|               0|   2012-11-20|      49|          1|           5|          3|          7|          4|         8|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3479|         1|
|      2686|          1969|        Básico|      Casado|             22390.0|            0|               0|   2013-10-21|      49|          0|           1|          4|         15|          1|         5|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3144|         1|
|      8373|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|         2|
|      5342|          1976|        Básico|  Divorciado|              9548.0|            1|               0|   2012-08-08|      31|          0|           1|          3|         10|          6|         9|               2|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3583|         2|
|      9733|          1978|        Básico|      Casado|             24882.0|            1|               0|   2012-09-09|      52|          1|           4|         10|         29|          0|        36|               1|          1|               1|           2|               6|               1|               0|               0|               0|               0|         0|       0|            4|          3551|         2|
|      2457|          1975|        Básico|      Casado|             30801.0|            0|               1|   2012-10-26|      23|          8|           4|          5|         15|          2|        11|               2|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3504|         2|
|      6682|          1973|        Básico|      Casado|             18978.0|            1|               0|   2012-12-11|      41|          2|           8|          1|          4|          7|        15|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3458|         2|
|      9316|          1952|        Básico|      Casado|             13084.0|            0|               0|   2013-11-02|      29|          2|           0|          7|          3|          7|        10|               1|          1|               0|           3|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3132|         2|
|      5692|          1989|        Básico|      Casado|             25443.0|            1|               0|   2012-12-22|      82|          1|           4|          3|          8|          9|         7|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3447|         2|
|     11086|          1984|        Básico|    Solteiro|             25707.0|            1|               0|   2014-01-18|      18|          1|           6|          2|          3|          6|         3|               1|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3055|         2|
|     10069|          1988|        Básico|      Casado|             13724.0|            1|               0|   2012-08-31|      43|          2|           7|          5|          2|         15|        27|               1|          2|               0|           2|               9|               1|               0|               0|               0|               0|         0|       0|            4|          3560|         2|
|      3829|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|         2|
|      6347|          1979|        Básico|    Solteiro|             15862.0|            1|               0|   2013-06-27|      26|          1|           1|          4|         11|          9|        10|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3260|         2|
|      1744|          1965|        Básico|    Solteiro|             23529.0|            0|               1|   2013-01-07|      67|          9|           7|         13|          3|          2|        20|               1|          1|               1|           2|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3431|         2|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+----------+
only showing top 20 rows

In [35]:
#Window Function - Percent_Rank
dfSpark.withColumn("Rank_Percentual",F.percent_rank().over(w0)).show()

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+------------------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|Gasto_Vinho|Gasto_Frutas|Gasto_Carne|Gasto_Peixe|Gasto_Doces|Gasto_Ouro|Compras_Desconto|Compras_Web|Compras_Catalogo|Compras_Loja|Visitas_Site_Mes|Aceite_Campanha3|Aceite_Campanha4|Aceite_Campanha5|Aceite_Campanha1|Aceite_Campanha2|Reclamacao|Resposta|Total_Compras|Tempo_Cadastro|   Rank_Percentual|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+------------------+
|      8234|          1973|        Básico|      Casado|             27190.0|            1|               0|   2013-08-15|      13|          1|           6|          7|          0|          1|         3|               1|          1|               0|           2|               8|               1|               0|               0|               0|               0|         0|       1|            3|          3211|               0.0|
|      6516|          1989|        Básico|      Casado|             17487.0|            1|               0|   2013-03-18|      37|          0|           0|          1|          7|          4|         6|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3361|               0.0|
|      9960|          1991|        Básico|    Solteiro|             26868.0|            1|               0|   2014-04-30|      52|          0|           0|          1|          8|          3|         2|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          2953|               0.0|
|      8977|          1985|        Básico|    Solteiro|             16581.0|            0|               0|   2013-01-12|      51|          1|           3|          4|          2|          3|        11|               1|          0|               0|           3|               4|               0|               0|               0|               0|               0|         0|       0|            3|          3426|               0.0|
|       193|          1996|        Básico|      Casado|             14421.0|            0|               0|   2014-02-17|      81|          0|           0|          2|          3|          3|         8|               1|          1|               0|           2|               5|               1|               0|               0|               0|               0|         0|       0|            3|          3025|               0.0|
|      5181|          1982|        Básico|    Solteiro|             24367.0|            1|               0|   2013-03-20|      58|          2|           4|          2|          0|         11|         5|               1|          1|               0|           2|               9|               0|               0|               0|               0|               0|         0|       0|            3|          3359|               0.0|
|     10250|          1947|        Básico|      Casado|             28389.0|            0|               0|   2012-11-20|      49|          1|           5|          3|          7|          4|         8|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3479|               0.0|
|      2686|          1969|        Básico|      Casado|             22390.0|            0|               0|   2013-10-21|      49|          0|           1|          4|         15|          1|         5|               1|          1|               0|           2|               7|               0|               0|               0|               0|               0|         0|       0|            3|          3144|               0.0|
|      8373|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|0.1509433962264151|
|      5342|          1976|        Básico|  Divorciado|              9548.0|            1|               0|   2012-08-08|      31|          0|           1|          3|         10|          6|         9|               2|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3583|0.1509433962264151|
|      9733|          1978|        Básico|      Casado|             24882.0|            1|               0|   2012-09-09|      52|          1|           4|         10|         29|          0|        36|               1|          1|               1|           2|               6|               1|               0|               0|               0|               0|         0|       0|            4|          3551|0.1509433962264151|
|      2457|          1975|        Básico|      Casado|             30801.0|            0|               1|   2012-10-26|      23|          8|           4|          5|         15|          2|        11|               2|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3504|0.1509433962264151|
|      6682|          1973|        Básico|      Casado|             18978.0|            1|               0|   2012-12-11|      41|          2|           8|          1|          4|          7|        15|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3458|0.1509433962264151|
|      9316|          1952|        Básico|      Casado|             13084.0|            0|               0|   2013-11-02|      29|          2|           0|          7|          3|          7|        10|               1|          1|               0|           3|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3132|0.1509433962264151|
|      5692|          1989|        Básico|      Casado|             25443.0|            1|               0|   2012-12-22|      82|          1|           4|          3|          8|          9|         7|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3447|0.1509433962264151|
|     11086|          1984|        Básico|    Solteiro|             25707.0|            1|               0|   2014-01-18|      18|          1|           6|          2|          3|          6|         3|               1|          1|               0|           3|               7|               0|               0|               0|               0|               0|         0|       0|            4|          3055|0.1509433962264151|
|     10069|          1988|        Básico|      Casado|             13724.0|            1|               0|   2012-08-31|      43|          2|           7|          5|          2|         15|        27|               1|          2|               0|           2|               9|               1|               0|               0|               0|               0|         0|       0|            4|          3560|0.1509433962264151|
|      3829|          1979|        Básico|      Casado|             24594.0|            1|               0|   2013-12-10|      94|          1|           3|          6|         10|          0|         9|               1|          1|               0|           3|               5|               0|               0|               0|               0|               0|         0|       0|            4|          3094|0.1509433962264151|
|      6347|          1979|        Básico|    Solteiro|             15862.0|            1|               0|   2013-06-27|      26|          1|           1|          4|         11|          9|        10|               1|          1|               0|           3|               8|               0|               0|               0|               0|               0|         0|       0|            4|          3260|0.1509433962264151|
|      1744|          1965|        Básico|    Solteiro|             23529.0|            0|               1|   2013-01-07|      67|          9|           7|         13|          3|          2|        20|               1|          1|               1|           2|               6|               0|               0|               0|               0|               0|         0|       0|            4|          3431|0.1509433962264151|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+-----------+------------+-----------+-----------+-----------+----------+----------------+-----------+----------------+------------+----------------+----------------+----------------+----------------+----------------+----------------+----------+--------+-------------+--------------+------------------+
only showing top 20 rows

#Consultas (PySpark)

1 - Analisar o perfil do cliente que aceitou a primeira campanha de vendas

In [36]:
#Filtro mostrando quem fez compras na primeira campanha
campanha1 = dfSpark["Aceite_Campanha1"] == 1
#Select para exibir o ID_Cliente, Nivel_Educacao, Renda_Familiar_Anual, Total_Compras de 
#clientes que fizeram compras na primeira campanha ordenado pelo total de compras
dfSpark.select(dfSpark["ID_Cliente"],dfSpark["Nivel_Educacao"],
               dfSpark["Renda_Familiar_Anual"],dfSpark["Total_Compras"]).filter(campanha1).orderBy("Total_Compras").show()

+----------+--------------+--------------------+-------------+
|ID_Cliente|Nivel_Educacao|Renda_Familiar_Anual|Total_Compras|
+----------+--------------+--------------------+-------------+
|      8143|  Pós-Graduado|             37929.0|           11|
|     10513|      Graduado|             63207.0|           11|
|     10430|      Graduado|             89694.0|           11|
|      7962|  Pós-Graduado|             95169.0|           11|
|      1992|      Graduado|             60597.0|           12|
|      9606|  Pós-Graduado|             69969.0|           12|
|      4452|      Graduado|             50388.0|           13|
|      8093|  Pós-Graduado|             79734.0|           13|
|      8439|      Graduado|             63404.0|           13|
|      4998|      Graduado|             76081.0|           13|
|       737|  Pós-Graduado|             80360.0|           13|
|      2415|      Graduado|             62568.0|           13|
|      7321|      Graduado|             76081.0|           13|
|     10556|      Graduado|             54984.0|           13|
|      2176|      Graduado|             80134.0|           14|
|      9121|      Graduado|             80134.0|           14|
|      8029|  Pós-Graduado|             90247.0|           14|
|       830|  Pós-Graduado|             74004.0|           14|
|      3520|  Pós-Graduado|             91172.0|           14|
|      7233|      Graduado|             69209.0|           14|
+----------+--------------+--------------------+-------------+
only showing top 20 rows

2 - Analisar o perfil de compra de quem tem crianças em casa

In [47]:
#Filtros crianças ou adolescentes em casa
criancas_casa = dfSpark["Criancas_casa"] > 0
adolescente_casa = dfSpark["Adolescente_casa"] > 0
#Select para exibir o "ID_Cliente", "Ano_nascimento", "Estado_Civil", "Total_Compras", 
#"Criancas_casa", "Adolescente_casa" onde tem crianças ou jovens em casa, ordenados pelo total de compras
(dfSpark.select(dfSpark["ID_Cliente"],dfSpark["Ano_nascimento"],dfSpark["Estado_Civil"],
               dfSpark["Total_Compras"],dfSpark["Criancas_casa"],dfSpark["Adolescente_casa"])
              .filter(criancas_casa|adolescente_casa).orderBy("Total_Compras").show())

+----------+--------------+------------+-------------+-------------+----------------+
|ID_Cliente|Ano_nascimento|Estado_Civil|Total_Compras|Criancas_casa|Adolescente_casa|
+----------+--------------+------------+-------------+-------------+----------------+
|     11110|          1973|    Solteiro|            0|            1|               0|
|      9931|          1963|      Casado|            0|            1|               1|
|      5899|          1950|      Casado|            1|            1|               1|
|      9303|          1976|      Casado|            1|            0|               1|
|      1503|          1976|      Casado|            1|            1|               1|
|      4303|          1957|      Casado|            1|            0|               1|
|      5336|          1971|      Casado|            2|            1|               0|
|      9396|          1978|      Casado|            3|            1|               0|
|      8430|          1957|      Casado|            3|            0|               1|
|       520|          1974|      Casado|            3|            1|               0|
|      2861|          1983|    Solteiro|            3|            1|               0|
|     10451|          1965|      Casado|            3|            1|               1|
|      2261|          1969|      Casado|            3|            1|               0|
|      8275|          1965|  Divorciado|            3|            1|               1|
|      2795|          1958|    Solteiro|            3|            2|               1|
|      8234|          1973|      Casado|            3|            1|               0|
|     11030|          1976|      Casado|            3|            1|               0|
|      1386|          1967|      Casado|            3|            1|               1|
|      3120|          1981|      Casado|            3|            1|               0|
|      7264|          1978|    Solteiro|            3|            2|               1|
+----------+--------------+------------+-------------+-------------+----------------+
only showing top 20 rows

3 - Analisar a renda familiar anual de cada nivel de educação

In [38]:
#Select para exibir a media da renda familiar anual agrupados por nivel de educação
(dfSpark.select(dfSpark["Nivel_Educacao"],dfSpark["Renda_Familiar_Anual"])
        .groupBy("Nivel_Educacao").mean("Renda_Familiar_Anual").show())

+--------------+-------------------------+
|Nivel_Educacao|avg(Renda_Familiar_Anual)|
+--------------+-------------------------+
|      Graduado|        52720.37365591398|
|  Pós-Graduado|       53391.428298279156|
|        Básico|        20306.25925925926|
+--------------+-------------------------+

4 - Analisar o valor total gasto em cada produto

In [39]:
#Select para exibir o valor total gasto em cada produto
dfSpark.select(F.sum(dfSpark["Gasto_Vinho"]).alias("Total_Vinho"),F.sum(dfSpark["Gasto_Frutas"]).alias("Total_Frutas"),
               F.sum(dfSpark["Gasto_Carne"]).alias("Total_Carne"),F.sum(dfSpark["Gasto_Peixe"]).alias("Total_Peixe"),
               F.sum(dfSpark["Gasto_Doces"]).alias("Total_Doces"),F.sum(dfSpark["Gasto_Ouro"]).alias("Total_Ouro")).show()

+-----------+------------+-----------+-----------+-----------+----------+
|Total_Vinho|Total_Frutas|Total_Carne|Total_Peixe|Total_Doces|Total_Ouro|
+-----------+------------+-----------+-----------+-----------+----------+
|     680816|       58917|     373968|      84057|      60621|     98609|
+-----------+------------+-----------+-----------+-----------+----------+

5 - Analisar o perfil dos clientes que fizeram reclamações e o tempo sem realizar uma compra (Recência)

In [40]:
#Select para exibir informações do cliente, se houve reclamação e a Recência
(dfSpark.select(dfSpark["ID_Cliente"],dfSpark["Ano_nascimento"],dfSpark["Nivel_Educacao"],
               dfSpark["Estado_Civil"],dfSpark["Renda_Familiar_Anual"],dfSpark["Criancas_casa"],
               dfSpark["Adolescente_casa"],dfSpark["Data_Cadastro"],dfSpark["Recência"])
               .where(dfSpark["Reclamacao"] == "1").orderBy("Recência").show())

+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+
|ID_Cliente|Ano_nascimento|Nivel_Educacao|Estado_Civil|Renda_Familiar_Anual|Criancas_casa|Adolescente_casa|Data_Cadastro|Recência|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+
|     10995|          1988|  Pós-Graduado|      Casado|             15716.0|            1|               0|   2012-11-12|       8|
|     10401|          1976|  Pós-Graduado|      Casado|             26326.0|            0|               0|   2013-09-04|      12|
|      5726|          1983|  Pós-Graduado|    Solteiro|             31788.0|            1|               0|   2014-03-20|      15|
|      9483|          1959|      Graduado|      Casado|             57957.0|            0|               1|   2013-08-19|      24|
|     10971|          1977|      Graduado|    Solteiro|             37774.0|            2|               0|   2012-09-03|      28|
|       255|          1951|      Graduado|  Divorciado|             22263.0|            1|               1|   2014-03-30|      31|
|       359|          1950|      Graduado|      Casado|             48070.0|            0|               1|   2013-01-13|      33|
|      3710|          1984|  Pós-Graduado|    Solteiro|             39684.0|            1|               0|   2012-10-12|      41|
|      6201|          1978|      Graduado|    Solteiro|             38643.0|            1|               1|   2013-11-29|      45|
|      7966|          1959|      Graduado|    Solteiro|             80982.0|            1|               1|   2013-01-08|      48|
|      3120|          1981|      Graduado|      Casado|             38547.0|            1|               0|   2013-08-28|      49|
|      4427|          1995|  Pós-Graduado|    Solteiro|             83257.0|            0|               0|   2012-09-18|      56|
|      7192|          1955|      Graduado|      Casado|             65748.0|            0|               1|   2013-04-15|      58|
|      6142|          1943|  Pós-Graduado|      Casado|             65073.0|            0|               0|   2013-08-20|      65|
|      9500|          1959|      Graduado|      Casado|             58113.0|            0|               1|   2013-01-25|      66|
|     10637|          1964|      Graduado|      Casado|             40800.0|            1|               2|   2013-01-01|      77|
|      6742|          1979|      Graduado|      Casado|             17688.0|            1|               0|   2013-01-13|      82|
|      6730|          1954|      Graduado|      Casado|             38998.0|            1|               1|   2012-11-03|      92|
|      9916|          1954|      Graduado|      Casado|             38998.0|            1|               1|   2012-11-03|      92|
|      2875|          1978|      Graduado|      Casado|             67023.0|            0|               0|   2014-03-04|      93|
+----------+--------------+--------------+------------+--------------------+-------------+----------------+-------------+--------+
only showing top 20 rows

#Load

Load para o MongoDB

In [41]:
#Alterando o tipo da coluna "Data_Cadastro" para string
dfSpark = dfSpark.withColumn("Data_Cadastro",dfSpark["Data_Cadastro"].cast(StringType()))
#Transformando em um Dataframe Pandas
dfPandas = dfSpark.toPandas()

In [45]:
#Instanciando uma conexão com o MongoDB na coleção "Tratado"
bancoMongoTratado = Conector_mongoDB(collection="Tratado")

#Inserindo os dados
bancoMongoTratado.insert(dfPandas.to_dict("records"))

Load para o GCP

In [46]:
(dfSpark.write.format("csv").option("header",True).
 save("gs://projeto_individual/Tratado/marketing_campaign_tratado.csv",mode="overwrite"))